<!DOCTYPE html>
<html lang="{{lang}}" dir="{{dir}}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <include src="./src/templates/partials/head.html"></include>
  <title>{{home.title}}</title>
</head>

<body>
  <header>
    <div package-def="st-header"></div>
  </header>
  <main>
    <div package-def="st-catalog"></div>
  </main>
  <footer>
    <div package-def="st-footer"></div>
  </footer>
  <micro-definition name="st-header" host="http://localhost:8000/"></micro-definition>
  <micro-definition name="st-footer" host="http://localhost:8000/"></micro-definition>
  <micro-definition name="st-catalog" host="http://localhost:8000/"></micro-definition>
</body>

</html>