<!DOCTYPE html>
<html lang="{{lang}}" dir="{{dir}}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <include src="./src/templates/partials/head.html"></include>
  <title>{{home.title}}</title>
</head>

<body>
  <header>
    <div package-def="st-header"></div>
  </header>
  <main>
    <h1>Home</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium at impedit animi voluptate sunt. Inventore,
      molestias aspernatur sequi aliquam maxime voluptatum dignissimos illum natus aperiam pariatur laborum porro
      perferendis deleniti?
    </p>
  </main>
  <footer>
    <div package-def="st-footer"></div>
  </footer>
  <package-definition name="st-header" host="http://localhost:8000/"></package-definition>
  <package-definition name="st-footer" host="http://localhost:8000/"></package-definition>
</body>

</html>